ion-grid, ion-row {
    height: 90%;
}

.loginButton {
    margin-top: 5%;
}

ion-img {
    height: 150px;
    display: block;
    background: none;
}

img {
    width: auto;
    margin: auto;
    display: block;
  }